.menu{
     position: relative;
    float: left;
}

.links{
    color: #f2bb07;
    font-size: 18px;
    text-decoration: none;
   border: 2px green solid;
    margin-right: 25px
}
.links:hover{
    border: 3px #ff00ae solid;
    color: aqua;
    border-top: 0px;
    border-left: 0px;
    border-radius: 50%;
    font-family: cursive;
}
.likeLinks{
    color: #EFF0F1;
}
.likeLinks:hover{
    text-align: center;
    cursor: pointer;
    color: #c6fc03;
    border: 2px #075aeb solid;
    border-radius: 40%;
}
